<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Interactive plots</title>
</head>

<body>

  <template id="selector-template">
    <label :for="key">{{ label }}</label><br>
    <select :name="key" v-model="store[key]">
      <option v-for="option in options" :value="option.value">
        {{ option.text }}
      </option>
    </select><br><br>
  </template>

  <template id="checkbox-template">
    <input type="checkbox" :name="key" v-model="store[key]"/>
    <label :for="key">{{ label }}</label><br><br>
  </template>

  <template id="sliders-template">
    <label id="string-p" for="slider-p">{{ p_labels[store['p_bin']] }}</label><br>
    <input type="range" list="tickmarks-p" id="slider-p" name="slider-p"
          min="0" max="6" step="1" value="0" v-model="store['p_bin']">
    <datalist id="tickmarks-p">
      <option v-for="i in [0,1,2,3,4,5,6]" :value="i"></option>
    </datalist>

    <br><br>
    <label id="string-theta" for="slider-theta">{{ t_labels[store['t_bin']] }}</label><br>
    <input type="range" list="tickmarks-theta" name="slider-theta" id="slider-theta"
          min="0" max="7" step="1" value="0" v-model="store['t_bin']">
    <datalist id="tickmarks-theta">
      <option v-for="i in [0,1,2,3,4,5,6,7]" :value="i"></option>
    </datalist>
  </template>

  <div class="container" v-scope="">

    <div class="menucol">

      <h1>PID studies</h1>

      <p><a href="docs.html">Documentation</a></p>

      <div v-if="store.debug">
        <p>Global state:</p>
        <p>{{ store }}</p>
      </div>

      <div v-scope="GenSelector()"></div>

      <div v-scope="ImgSelectorGen()"  v-if="store['general'] === 'gen'"
           @mounted="store['image'] = 'conf'"
      ></div>
      <div v-scope="ImgSelectorCtrb()" v-else-if="store['general'] === 'ctrb'"
           @mounted="store['image'] = 'ctrb'"
      ></div>
      <div v-scope="ImgSelectorLLR()"  v-else-if="store['general'] === 'llr'"
           @mounted="store['image'] = 'llr'"
      ></div>

      <div v-scope="DetClassSelector()"    v-if="store.detClassSupported()"></div>
      <div v-scope="DetSelector()"         v-if="store.detSupported()"></div>
      <div v-scope="CorrectnessSelector()" v-if="store.corrSupported()"></div>
      <div v-scope="ParticleSelector()"    v-if="store.partSupported()"></div>
      <div v-scope="NormSelector()"        v-if="store.normSupported()"></div>
      <div v-scope="DiffCheck()"           v-if="store.diffSupported()"></div>

      <div v-if="store.binSupported()">
        <div v-scope="BinCheck()"></div>
        <div v-scope="BinSliders()" v-if="store['binned']"></div>
      </div>

    </div>

    <div class="imagecol">
      <div v-scope="ImageDisplay()">
        <p v-if="store.debug">{{ filename() }}</p>

        <p v-if="store.general === 'llr' || store.image === 'top_wrong'">
          This image has not yet been uploaded. Check back soon!
        </p>
        <img v-else :src="filename()" alt="">
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/petite-vue@0.3.0"></script>
  <script src="main.js" type="module"></script>

</body>

</html>